language: php

php:
    - 7.1
    - 7.0
    - 5.6

env:
    global:
        - COMPOSER_OPTIONS=""

matrix:
    include:
        - php: 5.6
          env: COMPOSER_OPTIONS="--prefer-lowest"
        - php: nightly
    allow_failures:
        - php: nightly
    fast_finish: true

cache:
    directories:
        - vendor

before_install:
    - phpenv config-rm xdebug.ini || true

    - composer self-update

install:
    - composer update --prefer-dist $COMPOSER_OPTIONS

script:
    - composer validate --strict

    - vendor/bin/behat --strict -vvv --no-interaction
