parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '/Cannot call method [a-zA-Z0-9]+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface|null\./'
