name: Build

on:
    push: ~
    pull_request: ~
    release:
        types: [created]
    schedule:
        -
            cron: "0 1 * * 6" # Run at 1am every Saturday

jobs:
    tests:
        runs-on: ubuntu-latest
        name: "PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}"
        strategy:
            fail-fast: false
            matrix:
                php: ["7.3", "7.4", "8.0"]
                symfony: ["4.4.*", "5.1.*"]

        steps:
            -
                uses: actions/checkout@v2

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    coverage: none

            -
                name: Update Symfony version
                if: matrix.symfony != ''
                run: |
                    composer require symfony/dependency-injection:${{ matrix.symfony }} --no-update --no-scripts
                    composer require symfony/http-kernel:${{ matrix.symfony }} --no-update --no-scripts
                    composer require symfony/proxy-manager-bridge:${{ matrix.symfony }} --no-update --no-scripts

                    composer require --dev symfony/browser-kit:${{ matrix.symfony }} --no-update --no-scripts
                    composer require --dev symfony/framework-bundle:${{ matrix.symfony }} --no-update --no-scripts
                    composer require --dev symfony/process:${{ matrix.symfony }} --no-update --no-scripts
                    composer require --dev symfony/yaml:${{ matrix.symfony }} --no-update --no-scripts

            -
                name: Install dependencies
                run: composer update

            -
                name: Run analysis
                run: composer analyse

            -
                name: Run tests
                run: composer test
